@import url("https://fonts.googleapis.com/css2? family= Jost:wght@600 & family= Lato:wght@300 & display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* INDEX */
.logo-nav {
  width: 30%;
}

.nav-item {
  list-style-type: none;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  padding: 3px;
}

.nav-link {
  color: white;
}

a:active {
  box-sizing: border-box;
  border-radius: 20px;
  padding: 10px;
  background-color: #f8a6a6;
}

a:hover {
  transform: scale(1.1);
}

/* PRODUCTOS */
.product {
  background: linear-gradient(to bottom, rgb(245, 109, 109), white);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

main ol {
  list-style-type: none;
}

.cajitas-prod1 {
  background-image: url(/img/vinos-luigi.png);
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  box-sizing: border-box;
  width: 100vh;
  border: solid 1px;
  padding: 45px;
  margin-bottom: 1px;
}

.cajitas-prod2 {
  background-image: url(/img/champasalentein.png);
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  box-sizing: border-box;
  width: 100%;
  border: solid 1px;
  padding: 45px;
  margin: 1px;
}

.cajitas-prod3 {
  background-image: url(/img/aperitivos.png);
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  box-sizing: border-box;
  width: 100%;
  border: solid 1px;
  padding: 45px;
  margin: 1px;
}

.cajitas-prod4 {
  background-image: url(/img/espirituosa.png);
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  box-sizing: border-box;
  width: 100%;
  border: solid 1px;
  padding: 45px;
  margin: 1px;
}

.productos {
  text-decoration: none;
  color: black;
  font-size: 40px;
}

/* SERVICIOS */
.servicios {
  box-sizing: border-box;
  width: 100%;
  border: solid;
  padding: 3px;
  margin-top: 2px;
  margin-bottom: 2px;
  background: linear-gradient(to left, rgb(245, 109, 109), rgb(230, 224, 225));
}

.servicios-img {
  height: 200px;
  width: 300px;
}

.link-serv {
  text-decoration: none;
}

.scale-up-hor-left {
  -webkit-animation: scale-up-hor-left 0.4s;
  animation: scale-up-hor-left 0.4s;
}

@-webkit-keyframes scale-up-hor-left {
  0% {
    -webkit-transform: scaleX(0.4);
    transform: scaleX(0.4);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
  }
}
@keyframes scale-up-hor-left {
  0% {
    -webkit-transform: scaleX(0.4);
    transform: scaleX(0.4);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
  }
}
/* SUCURSALES*/
.sucursales {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 5px;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: black;
  text-align: left;
  background: linear-gradient(to top, rgb(247, 59, 59), rgb(243, 150, 166));
  box-sizing: border-box;
  width: 100%;
  border: solid;
  margin: auto;
}

.mapas {
  width: 200px;
  height: 100px;
}

/* CONTACTO */
.fondo-contacto {
  background-color: #f8a6a6;
}

.logo-contacto {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 25px;
}

.logos {
  margin-top: 15px;
  width: 60px;
  height: 60px;
}

.datos-contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.recuadro {
  margin-top: 20px;
  margin-bottom: 20px;
}

.boton {
  margin-bottom: 15px;
}

/* VINOS */
.container {
  display: flex;
  max-width: 1100px;
  width: 100%;
  border: none;
}

.row {
  display: flex;
  width: 100%;
  margin: 8px;
  border: 1px solid black;
  background: rgb(255, 255, 255);
  overflow: hidden;
}

footer {
  background-color: red;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 16px;
}

.logo-footer {
  height: 20px;
  width: 20px;
}

.red-footer {
  font-family: "Lato", sans-serif;
  font-size: 15px;
  color: black;
}

@media screen and (max-width: 844px) {
  .grid-main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

/*# sourceMappingURL=style.css.map */
