/* CONTACTO */

.fondo-contacto {background-color: rgb(233, 73, 73); }

.logo-contacto{ display: flex;
                flex-direction: row;
                justify-content: center;
                gap: 25px;
                }

.logos { margin-top: 15px;
        width: 60px;
        height: 60px;}

.datos-contacto { display: flex;
                  flex-direction: column;
                  align-items: center;
                  margin-top: 40px; }  

.recuadro { margin-top: 20px;
            margin-bottom: 20px;}                  
                  
.boton {margin-bottom: 15px;}     