/* INDEX */

.logo-nav { width: 30%;}

.nav-item { list-style-type: none;
            font-family: 'Lato', sans-serif;
            font-size: 20px;
            padding: 3px;}

.nav-link {color: white;} 


a:active {box-sizing: border-box;
          border-radius: 20px;
          padding: 10px;
          background-color: rgb(245, 86, 86);}

a:hover  {transform: scale(3);}





/* BODEGAS */               
          
            
.bodegas{box-sizing: content-box;
    border: solid 1px;
    background-color: rgb(248, 166, 166);
    padding: 20px;}  
            
body main div h2 { font-family:  'Jost', sans-serif;
        text-decoration: underline;}

.lista-bodegas { padding: 1rem;
                display: grid;
                grid-area: "bodega"; }

.nombre-bod {font-family: 'Lato', sans-serif;
                margin: 5px;}

 
.fichas-bodegas {box-sizing: content-box;
    border: solid 1px;
    background-color: rgb(248, 166, 166);
    padding: 20px;}                

/* FICHAS TECNICAS */

.titulo-fichas {display: grid;
                grid-area: "fichas";
                padding-bottom: 10px;}

.lista-fichas { list-style-type: none;}

.fichas-tecnicas { padding-top: 10px;
    padding-bottom: 15px;
    display: grid;
    grid-area: "fichas";
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: black; 
    text-decoration: none; }

