/* INDEX */

.logo-nav { width: 30%;}

.nav-item { list-style-type: none;
            font-family: 'Lato', sans-serif;
            font-size: 20px;
            padding: 3px;}

.nav-link {color: white;} 


a:active {box-sizing: border-box;
          border-radius: 20px;
          padding: 10px;
          background-color: $color-fondo;}

a:hover {transform: scale(1.1);}

.envios { box-sizing: border-box;
          background-color: black;
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          justify-content: space-around;
          align-items: center;}

.texto-envios { font-family: 'Lato', sans-serif;
                font-size: 20px;
                color: whitesmoke;
                }          




