.container-productos {display: flex;
                      flex-direction: row;
                      flex-wrap: wrap;
                      justify-content: center;
                      align-items: center;
                      gap: 25px;
                      padding: 3px;
                      margin: 5px;
                      margin-top: 10px;
                      margin-bottom: 25px; }

.titulo-productos {text-align: center;
              font-weight: bold;
              text-decoration: underline;
              margin: 4px;
              margin-bottom: 10px;}

.img-productos {align-items: center;}

.img-campari {width: fit-content;}

.img-productos:hover {width: 130%;}

.descripcion-productos {text-align: center;
                        font-weight: 600;
                    
                        .descripcion-productos:hover {width: 130%;}}
