/* SERVICIOS */

.servicios {
    box-sizing: border-box;
    width: 100%;
    border: solid;
    padding: 3px;
    margin-top: 2px;
    margin-bottom: 2px;
    background: linear-gradient(to left, rgb(245, 109, 109), rgb(230, 224, 225));}

 .servicios-img {

    height: 200px;
    width: 300px;
}